<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Salùdame 3</title>
  </head>
  <body>
    <h1>Hola dime a quièn saludar</h1>
    <form  action="/saludame3" method="post">
      <input type="text" name="verbo">
      <input type="submit" value="¡Hola!">
    </form>
  </body>
</html>
